// Custom css classes for icons in form groups

.input-group-before {
  background-color: white;
  border-right: none;
}

.input-group-middle {
  background-color: white;
  border-right: none;
  border-left: none;
}

.input-group-after {
  background-color: white;
  border-left: none;
}